<div class="page">
    <img src="assets\photo_2023-09-20_10-00-49.jpg" alt="logo" class="image" />
  
    <div calss="info">
      <p class="mew">
        i am Abeer Ahmad Asiri .A technician with experience in programming.
        Passionate and interested in cybersecurity. Website Designer. Loving for
        learning and experimentation. He works hard to develop his skills and gain
        new skills and knowledge. Always passionate about research and follow up
        on the developments of the world of technology. I provide assistance and
        education to students. I offer cyber tips especially for people who don't
        have the highest technical knowledge to maintain their data.
      </p>
      <div class="pro">
        <h2>My Project</h2>
        <h4>Graduation Project:</h4>
        <p class="me">
          Creating and developing a website that provides training opportunities
          by allowing companies to post training opportunities, allowing students
          to apply and enabling the university to follow the student's performance
        </p>
        <h4>Game design and development:</h4>
        <p class="me">Design and development of a game called FLAME THEM ALL</p>
        <h4>Ironhack Project</h4>
        <p class="me">Video Game System</p>
        <button 
        mat-button color="primary" routerLink="/contact" routerLinkActive="active-link">Contact</button>
    </div>
    </div>
  </div>
  
